table {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

th, td { 
    text-align: left;
    padding-left: 15px;
}
th {
    background-color: #030000;
    color: white;
    padding: 10px 20px;
}
tr:nth-child(odd) {
    background-color: gray;
    padding: 10px 20px;
    color: #030000
}